header {
    padding: 0 10px 0 8px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

body.scrolled header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.1) 0px 0px 1px;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-family: var(--inter-font);
    font-size: 16px;
    color: #40566d;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

header button svg {
    width: 18px;
    height: 18px;
}

@media (width >=1024px) {
    header {
        display: none;
    }
}