VITE_SERVER_URL=http://localhost:5000
VITE_WIDGET_URL=http://localhost:5175/widget.js

# Provide VAPID_PUBLIC_KEY configured in api (OPTIONAL)
VITE_VAPID_PUBLIC_KEY=

# Provide your Telegram bot username (OPTIONAL)
VITE_TELEGRAM_BOT_USERNAME=