DASHBOARD_URL=http://localhost:5173

# Only required for local extension development
# Do NOT add this in production deployment
EXTENSION_URL=http://localhost:5174

# Either provide DB_URL OR all DB_HOST, DB_NAME, DB_USER, DB_PASS
DB_URL=
# OR
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

# Either provide REDIS_URL OR both REDIS_HOST and REDIS_PORT
REDIS_URL=
# OR
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

EMAIL_USER=
EMAIL_ADDRESS=
EMAIL_PASSWORD=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_AUTH_REDIRECT_URL=http://localhost:5000/auth/google/callback
# Enable the Gmail API and add the gmail.send OAuth scope in Google Cloud Console (OPTIONAL)
GOOGLE_GMAIL_REDIRECT_URL=http://localhost:5000/chat/google/callback

# Generate using the web-push package (OPTIONAL)
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# Create a Slack app and configure OAuth credentials (OPTIONAL)
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URL=http://localhost:5000/setting/slack/callback

# Create a Telegram bot using BotFather, then provide your bot token (OPTIONAL)
TELEGRAM_BOT_TOKEN=